.joystick-container {
    width: 600px;
    height: 110px; 
    padding-top: 10px;
    margin: auto;
}

.arrowkeys {
    height: 110px;
    width: auto;
    float: left;
    margin-left: 100px;
}

.joystick {
    width: 110px;
    height: 110px;
    float: right; 
    margin-right: 130px;
}